<?xml version="1.0" encoding="UTF-8"?><configuration>
    <!--  Undertow Server Configuration -->
    <server>
        <host mode="ENCRYPTED">v1:gcm:pbkdf2:g4vaxpk4EVZvrknJzqj4dQ:d3E9VYktLrpt68lO:IZzTBce9iIhSfoQN3lcCVEn0Xpa4sShZSw</host>
        <port mode="ENCRYPTED">v1:gcm:pbkdf2:9pnatLrfj0ACB6c/Pa/X2Q:gMZfRX4rsFToZN0J:79hKWodtscwSnNwEFJMfLK2RGuA</port>
        <ioThreads mode="ENCRYPTED">v1:gcm:pbkdf2:2VBBtiVneISK/Ty2K7PGwQ:/2aK7kCDfLYw2z1w:P2GF4qiK+4Dn6UV+/d1D5BtF</ioThreads>
        <workerThreads mode="ENCRYPTED">v1:gcm:pbkdf2:4N9ZWqkMrT7x9kFyaFtYsQ:TQw2RibdXmDN3Ihp:vUbsszJYmPbSE0u0UiBQ42rOzQ</workerThreads>
        <basePath mode="ENCRYPTED">v1:gcm:pbkdf2:aA68Q+GuadcPxghK2D72Yg:Grym4UVuGUc9o4Nl:IDu/uF6huYToL5vr/FrXq7pxV+6LhZyxjQ</basePath>
    </server>

    <!-- JWT-CONFIGURATION   -->
    <!--   accessToken = in Minutes    refreshToken = in Days -->
    <jwtConfig>
        <accessToken mode="ENCRYPTED">v1:gcm:pbkdf2:HY8NdrqiFdaPc0epSkB/XA:99AF+mOUbp3DpJ9Y:9+ynCVNbLlc4WTAz34wf5idX</accessToken>
        <refreshToken mode="ENCRYPTED">v1:gcm:pbkdf2:5lsQ0ntPn8xHT9ZKsslaEQ:S2BfjFovCL1eJTGi:syeczom/heK9Yh+S0hXqnFRd</refreshToken>
    </jwtConfig>

    <!-- PostgresSQL Data Source Configuration -->
    <dataSource>
        <driverClassName mode="ENCRYPTED">v1:gcm:pbkdf2:1LB37vhv4mtmR5LydrLnPA:y5G+Un+fulQJIci4:iopPoVGMCV9/JjDqb8pXJIz/aiddiKiQC1/LIO1Ib79fROUFig</driverClassName>

        <jdbcUrl mode="ENCRYPTED">v1:gcm:pbkdf2:Ne8Q1C3X/JI80fJ2pVrmAA:tedfcA5ChVF5uhVc:b7JwpKTCHRLef6ylfAcGIbrHJhR5HDZ/lK+Vl12LqFrbxyYBHVQ6r9dggQGP/fm2BfpJxtAGrVptcmJvo/a5NP8ZOhhpWQFQDFkFXc5dXcy6Z/sQ</jdbcUrl>

        <username mode="ENCRYPTED">v1:gcm:pbkdf2:aMlHVyb+gdoEqQpcXJn4gw:XmYMNgBHYKmMvHb7:DlP67WkF3sRaiv9EGfK8SqQp/BhU1g4</username>
        <password mode="ENCRYPTED">v1:gcm:pbkdf2:Nrr0mkxajgcWueoXWQsa+Q:LqtoRwxrvq9fThEn:frfD7+ua9y+on7gGVtF0gHrPsTjBVPBTIH825bg</password>

        <!-- SSL Fix -->
        <encrypt mode="ENCRYPTED">v1:gcm:pbkdf2:ODEB8NXpgmFhPeQIgkaKPg:eSBvq+czq6CgIl7m:NyMBp7okHeWzyrircQebTmat5NQt</encrypt>
        <trustServerCertificate mode="ENCRYPTED">v1:gcm:pbkdf2:tnl/Phj694Ve7nvXAC4vjw:aEjDrst2pevmnCwc:7BE08i8ZXauW8OfAxYkWVm2MkWjv</trustServerCertificate>
    </dataSource>

    <!-- HikariCP Connection Pool Configuration -->
    <!--  pool size ≈ (CPU cores × 2) + effective DB parallelism -->
    <connectionPool>
        <maximumPoolSize mode="ENCRYPTED">v1:gcm:pbkdf2:YfD8Rfst/z32kWXXtD3mHg:LIkaekGAyW8Ht5M7:Xsc9wpDLl6bN3/yuw7kRvF8H</maximumPoolSize>
        <minimumIdle mode="ENCRYPTED">v1:gcm:pbkdf2:8o7RA+9yvB9Gz8pKNpzncA:QYNJJmcp8cr1JTn2:8/EKCk5yKjt6GP5WkLbvKtI</minimumIdle>
        <idleTimeout mode="ENCRYPTED">v1:gcm:pbkdf2:IRBOuLNE2onMrTBKjT8TfQ:njkrKy9MMI4HHhvN:a0lsHO5ABr3aQuJrIq0DgNXsextz</idleTimeout>
        <connectionTimeout mode="ENCRYPTED">v1:gcm:pbkdf2:DPVqfWPHXZqZHM+tyoCDCQ:1bFhYI5odGATDm8T:SUOBZqgM2K/vDRh6dHaScNzCbIDO</connectionTimeout>
        <maxLifetime mode="ENCRYPTED">v1:gcm:pbkdf2:y0LycAu6oytFQl2ApbLzsA:oOmRdN25/Wa9DszG:FkHCDubIwnEduZLYLq0yvhboI8Zqw5M</maxLifetime>
    </connectionPool>

    <!-- Logging -->
    <logging>
        <level mode="ENCRYPTED">v1:gcm:pbkdf2:jvmxJDiQSwEW8XiwTwroTw:NVR8EF/WgFdeOZ40:Y8bw0haQ8XxXJJ60empnaZKR3kc</level>
        <logFile mode="ENCRYPTED">v1:gcm:pbkdf2:LVUG0TZrgfKP6Sa9gbttUA:C4sGOe+DtQ1pndXz:bjPpECD3n1zOMOIbYKSq1PFjJm8CeCUqFo1eRETRoX112xac</logFile>
    </logging>

    <!-- Notification Channels    -->
    <notification enabled="true">

        <threads>
            <workerThreads mode="ENCRYPTED">v1:gcm:pbkdf2:WZEJv5NIzFq30/Cwm5FugA:cITUTSZlrsYPtsCk:IJXoaXd8UAxrzdjIqkh6+oyM</workerThreads>
        </threads>

        <email>
            <smtpHost>smtp.gmail.com</smtpHost>
            <smtpPort mode="ENCRYPTED">v1:gcm:pbkdf2:eKl9rz4jkXhNzNT20+u82g:VNqZZGTKYq8Ieqkj:AsIlP7JQJ8D+E2N68i9V3Up9iw</smtpPort>
            <useTLS mode="ENCRYPTED">v1:gcm:pbkdf2:jcqbGQPpSrCRA7vwZq4wNQ:eJo4rgjsNeTpey2U:/V0s1Q4d7XN1wmVMfEt8323HsTk</useTLS>
            <username mode="ENCRYPTED">v1:gcm:pbkdf2:gY/wBHiQ/k+zfNDKo8Dg3Q:IaDk4A8WlQbvBXgp:AZYryFHhOCJmKYvxogAQM77URt9CzVG2v7AwhTb4f5sg9UfhbW/v4Xs</username>
            <password mode="ENCRYPTED">v1:gcm:pbkdf2:towtxYGDglubJWRUlYin1g:gSp9OqNsOzOiBUtY:B5Nx3b/FsCYrCNWAXZ0JOALIOz11ane7rlCW34b/</password>
            <fromName mode="ENCRYPTED">v1:gcm:pbkdf2:k5c58K7MwInZU5VHqWUTTQ:BsDYDrUonuo6GrE5:O2ZoeLZZaeOhBxCFLAWhFrZ7fkLg5w3D/W5/ZDZRaUY</fromName>
            <fromAddress mode="ENCRYPTED">v1:gcm:pbkdf2:xd8Y3TkunHcFmO8JaVZOFA:KnPreP2dGTM/fADt:v3BjKjPHZX7rNctQV60NcEY9hCWMc5aj4Ly4Z6JHFA1TtlyzXpMTQtU</fromAddress>
            <connectionTimeout mode="ENCRYPTED">v1:gcm:pbkdf2:7EkPZ/cxOPOPHMPWBGbuTA:78jYhnfCGbW0vte3:ewxqJMOJGX05Ohd0S5qe8y+rqwsw</connectionTimeout>
            <retryAttempts mode="ENCRYPTED">v1:gcm:pbkdf2:Po6TahF61zkBiXZEdpLhtQ:9c/qzl6MBqZZL+SD:veuzSFnPLXKwnMTTdZCPdfQ</retryAttempts>
        </email>
        <!-- Telegram Configuration -->
        <telegram enabled="true">
            <botToken mode="ENCRYPTED">v1:gcm:pbkdf2:jEcdosLHnNWNZ/nIlBNJ9w:F0xt5Sjk1z9HuR4P:VF3UBt7gSxnU1yxn2YQU11yYWm6ChUcw6Qkvv335pTnaLXFFfurpGh7KqtgBUSU</botToken>
            <defaultChatId mode="ENCRYPTED">v1:gcm:pbkdf2:rp2uqr+0zFDEDrGFQvRDXg:IOtyXAvAmaN8nng+:EEFTNHWp21Y816ZS3+ChYo8nVDz0+4xJL7ZEAJCn</defaultChatId>
            <apiUrl mode="ENCRYPTED">v1:gcm:pbkdf2:4v0MFXgy5/NCCGWKhxq6qg:h62boyr9ir6vlINw:PFMRHBSS2nV3xzZ+EIl1FUZPB/gR/+DDsh8BPdLRALg9K1COdkrpOg</apiUrl>
            <parseMode>HTML</parseMode>
            <connectionTimeout mode="ENCRYPTED">v1:gcm:pbkdf2:M/a+apmp6Zn//DXQ18Eb3Q:UULnhP7E4Qtqlp85:QJGSFdxhdlO0rDoIv+InfFvJmrc</connectionTimeout>
        </telegram>

        <!-- SMS Configuration (optional) -->
        <sms enabled="false">
            <provider mode="ENCRYPTED">v1:gcm:pbkdf2:Z/xfTUvmz4BXMSoG6BsE3A:IQBBfPTa+wuV5+qH:c6YJ8KXZ/qp41tyvX62WPJeimSte1g</provider>
            <accountSid mode="ENCRYPTED">v1:gcm:pbkdf2:ycXfRu7O93b6hK3Bw9JBhA:ySWL3StWVHycZ8rV:PvGh/J24vT7LXExNKC5MsOAHt3B8PIZ8ZxN437CF</accountSid>
            <authToken mode="ENCRYPTED">v1:gcm:pbkdf2:EgQDxGyU2njdlFuYLRvkSA:oBScMcdHyO8R3HUt:Lk7cg6ShAvtEbOSP94m9LiiympLtZGMhFJ62GQ</authToken>
            <senderNumber mode="ENCRYPTED">v1:gcm:pbkdf2:ABDoBtMl8eA4gP//7rnGTQ:reU6j8faIstZjfCi:jeN9gtbg8RR80IF0JKt4AvZLIwZDASHiR6EmWA</senderNumber>
            <defaultCountryCode mode="ENCRYPTED">v1:gcm:pbkdf2:y1BgoZ+IvbAqS5VFjjVBqw:9OXWLx/gHWE0s+n9:H8Tfmo9rGiA1ZHm1O7eFo8nTvow</defaultCountryCode>
            <apiUrl mode="ENCRYPTED">v1:gcm:pbkdf2:toUDkJVtnFyyWpVww0fu4Q:8gZM2FWeNDPH4eWW:+oQIaO4kye0OP6aDq82rR1iEtM2LxRRsD7ESlBVaky91MN1uZvs</apiUrl>
            <maxRetries mode="ENCRYPTED">v1:gcm:pbkdf2:q95rpiOZBj6RHsRsh4UzXw:gfqZrZ56Ze9YIv6q:nq4DwO+c/ipIDtKvhS+JCio</maxRetries>
        </sms>
    </notification>
</configuration>
